{% extends 'base.html' %}

{% block content %}
  {% if request.user.is_authenticated %}
    <h2>Service Request Status</h2>
    <ul>
      {% for request in service_requests %}
        <li>
          <strong>Request Type:</strong> {{ request.request_type }}<br>
          <strong>Description:</strong> {{ request.description }}<br>
          <strong>Status:</strong> {{ request.status }}<br>
          <strong>Created At:</strong> {{ request.created_at }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>You need to be authenticated to view your service request status.</p>
    <p><a href="{% url 'login_url' %}">Login</a></p>
  {% endif %}
{% endblock %}